
{% extends 'core/layout.html' %}


{% block content %}
  <main>
    {% load static %}
    <br><br>
    <div class="contenedor-inicio-p">
        <div class="col-md-6 ">
          <div class="contenedor-productos-p">
              <div class="row align-items-center">
                  <div class="col-md-6 order-md-1">
                    <img class="d-block w-100" src="{% static 'img/imagen11.png' %}" alt="Imagen 1" style="height: 360px; width: 500px;">
                  </div>
                  <div class="col-md-6 order-md-2">
                    <h2>Notebook ASUS</h2>
                    <p>Vivobook</p>
                    <p>$679.990</p>
                  </div>
                </div>
          </div>
          
        <div class="col-md-6">
          <div class="contenedor-productos-p">
              <div class="row align-items-center">
                  <div class="col-md-6 order-md-1">
                    <img class="d-block w-100" src="{% static 'img/imagen3.png' %}" alt="Imagen 3"  style="height: 360px; width: 500px;">
                  </div>
                  <div class="col-md-6 order-md-2">
                    <h2>Memoria RAM</h2>
                    <p>Hyperx DDR4</p>
                    <p>$39.990</p>
                  </div>
                </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="col-md-6">
        <h1>TOTAL: $719.980</h1>
      </div>
    </div>
      
      
      
  </main>

  {% endblock %}
