
{% extends 'core/layout.html' %}


{% block content %}
  <main>
    {% load static %}
    <br><br>
    <div class="container-wrapper">
    <div class="container-disp">
      <img class="image-disp" src="{% static 'img/imagen1.png' %}" alt="Imagen 1">
      <div class="content-disp">
        <h2 class="title-disp">GIGABYTE</h2>
        <div class="description-disp">
          <p >GTX 1070Ti</p>
          <p >$139.990</p>
        </div>
        <a class="button-disp" href="#">Agregar al carrito</a>
      </div>
    </div>
    <div class="container-disp">
      <img class="image-disp" src="{% static 'img/imagen2.png' %}" alt="Imagen 1">
      <div class="content-disp">
        <h2 class="title-disp">Founders Edition</h2>
        <div class="description-disp">
        <p >RTX 3090</p>
        <p >$1.099.990</p>
      </div>
        <a class="button-disp" href="#">Agregar al carrito</a>
      </div>
    </div>
    <div class="container-disp">
      <img class="image-disp" src="{% static 'img/imagen3.png' %}" alt="Imagen 1">
      <div class="content-disp">
        <h2 class="title-disp">HyperX</h2>
        <div class="description-disp">
          <p >DDR4</p>
          <p >$39.990</p>
        </div>
        <a class="button-disp" href="#">Agregar al carrito</a>
      </div>
    </div>
    <div class="container-disp">
      <img class="image-disp" src="{% static 'img/imagen4.png' %}" alt="Imagen 1">
      <div class="content-disp">
        <h2 class="title-disp">TRIDENTZ RGB</h2>
        <div class="description-disp">
          <p >DDR4</p>
          <p >$49.990</p>
        </div>
        <a class="button-disp" href="#">Agregar al carrito</a>
      </div>
    </div>
    <div class="container-disp">
      <img class="image-disp" src="{% static 'img/imagen5.png' %}" alt="Imagen 1">
      <div class="content-disp">
        <h2 class="title-disp">Corsair</h2>
        <div class="description-disp">
          <p >650w</p>
          <p >$69.990</p>
        </div>
        <a class="button-disp" href="#">Agregar al carrito</a>
      </div>
    </div>
    <div class="container-disp">
      <img class="image-disp" src="{% static 'img/imagen6.png' %}" alt="Imagen 1">
      <div class="content-disp">
        <h2 class="title-disp">MSI</h2>
        <div class="description-disp">
          <p >B550-A PRO</p>
          <p >$169.990</p>
        </div>
        <a class="button-disp" href="#">Agregar al carrito</a>
      </div>
    </div>
    <div class="container-disp">
      <img class="image-disp" src="{% static 'img/imagen7.png' %}" alt="Imagen 1">
      <div class="content-disp">
        <h2 class="title-disp">EVGA</h2>
        <div class="description-disp">
          <p >750w</p>
          <p >$49.990</p>
        </div>
        <a class="button-disp" href="#">Agregar al carrito</a>
      </div>
    </div>
    <div class="container-disp">
      <img class="image-disp" src="{% static 'img/imagen8.png' %}" alt="Imagen 1">
      <div class="content-disp">
        <h2 class="title-disp">Dell</h2>
        <div class="description-disp">
          <p >27"</p>
          <p >$119.990</p>
        </div>
        <a class="button-disp" href="#">Agregar al carrito</a>
      </div>
    </div>
    
    </div>
  </main>

  {% endblock %}