
{% extends 'core/layout.html' %}


{% block content %}
  <main>
    {% load static %}
    <br><br>
    <div class="container-wrapper">
    <div class="container-disp">
      <img class="image-disp" src="{% static 'img/imagen11.png' %}" alt="Imagen 1">
      <div class="content-disp">
        <h2 class="title-disp">ASUS</h2>
        <div class="description-disp">
          <p >Vivobook Pro 14 OLED</p>
          <p >$679.990</p>
        </div>
        <a class="button-disp" href="#">Agregar al carrito</a>
      </div>
    </div>
    <div class="container-disp">
      <img class="image-disp" src="{% static 'img/imagen22.png' %}" alt="Imagen 1">
      <div class="content-disp">
        <h2 class="title-disp">Lenovo</h2>
        <div class="description-disp">
        <p >IdeaPad 5 Pro</p>
        <p >$759.990</p>
      </div>
        <a class="button-disp" href="#">Agregar al carrito</a>
      </div>
    </div>
    <div class="container-disp">
      <img class="image-disp" src="{% static 'img/imagen33.png' %}" alt="Imagen 1">
      <div class="content-disp">
        <h2 class="title-disp">ASUS</h2>
        <div class="description-disp">
          <p >Vivobook Pro 15 OLED</p>
          <p >$789.990</p>
        </div>
        <a class="button-disp" href="#">Agregar al carrito</a>
      </div>
    </div>
    <div class="container-disp">
      <img class="image-disp" src="{% static 'img/imagen44.png' %}" alt="Imagen 1">
      <div class="content-disp">
        <h2 class="title-disp">Lenovo</h2>
        <div class="description-disp">
          <p >IdeaPad Gaming 3</p>
          <p >$779.990</p>
        </div>
        <a class="button-disp" href="#">Agregar al carrito</a>
      </div>
    </div>
    <div class="container-disp">
      <img class="image-disp" src="{% static 'img/imagen55.png' %}" alt="Imagen 1">
      <div class="content-disp">
        <h2 class="title-disp">Acer</h2>
        <div class="description-disp">
          <p >Aspire Nitro 5</p>
          <p >$869.990</p>
        </div>
        <a class="button-disp" href="#">Agregar al carrito</a>
      </div>
    </div>
    <div class="container-disp">
      <img class="image-disp" src="{% static 'img/imagen66.png' %}" alt="Imagen 1">
      <div class="content-disp">
        <h2 class="title-disp">Lenovo</h2>
        <div class="description-disp">
          <p >Legion 5</p>
          <p >$799.990</p>
        </div>
        <a class="button-disp" href="#">Agregar al carrito</a>
      </div>
    </div>
    <div class="container-disp">
      <img class="image-disp" src="{% static 'img/imagen77.png' %}" alt="Imagen 1">
      <div class="content-disp">
        <h2 class="title-disp">HP</h2>
        <div class="description-disp">
          <p >Pavilion Gaming</p>
          <p >$879.990</p>
        </div>
        <a class="button-disp" href="#">Agregar al carrito</a>
      </div>
    </div>
    <div class="container-disp">
      <img class="image-disp" src="{% static 'img/imagen88.png' %}" alt="Imagen 1">
      <div class="content-disp">
        <h2 class="title-disp">MSI</h2>
        <div class="description-disp">
          <p >GF65 Thin</p>
          <p >$990.000</p>
        </div>
        <a class="button-disp" href="#">Agregar al carrito</a>
      </div>
    </div>
    
    </div>
  </main>
  {% endblock %}